<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
    </div>
    <div class="col-md-6">
        <!--hamo record information-->
        <table class="table table-borderless" style="text-align: center;">
            <thead>
                <tr>
                    <th scope="col"><h5>Hamo Record</h5></th>
                    <th scope="col"><h5>Date Created</h5></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row" ><h2>{{ data.hamo_record.id }}</h2></th>
                    <td><h6>{{ data.hamo_record.date_added }}</h6></td>
                </tr>
            </tbody>
        </table>
        <!--hamo stage 1-->
        <table class="table table-bordered" style="padding-top: 10px;">
            <thead class="thead-light">
                <tr>
                    <th colspan="2" style="text-align: center;"><h5>Hamo Record Stage 1</h5></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Hamo:</th>
                    <td>{{ data.hamo_record.hamo_machine_id }}</td>
                </tr>
                <tr>
                    <th scope="row">Hamo Calibration Expiry:</th>
                    <td>{{ data.hamo_record.calibration_expiry_date }}</td>
                </tr>
                <tr>
                    <th scope="row">Daily Test Completed:</th>
                    <td>{{ data.hamo_record.daily_test_confirmation }}</td>
                </tr>
            </tbody> 
        </table>
        <!--hamo stage 2-->
        <table class="table table-bordered" style="padding-top: 10px;">
            <thead class="thead-light">
                <tr>
                    <th colspan="2" style="text-align: center;"><h5>Hamo Record Stage 2</h5></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Load id:</th>
                    <td>{{ data.hamo_record.load_type }}</td>
                </tr>
                <tr>
                    <th scope="row">Cycle Wash Type:</th>
                    <td>{{ data.hamo_record.wash_type}}</td>
                </tr>
                <tr>
                    <th scope="row">Chemical List:</th>
                    <td>{{ data.hamo_record.full_wash_chemical_list }}</td>
                </tr>
                <tr>
                    <th scope="row">Tubing List:</th>
                    <td>{{ data.hamo_record.rinse_wash_tubing_list }}</td>
                </tr>
            </tbody> 
        </table>
    </div>
    <div class="col-md-auto">
    </div>
  </div>
  <h4 style="text-align: center; padding: 30px">Stage Three: Cycle Analysis</h4>
  <form method='POST' action='/save-hamo-stage-three-rinse-wash'>
    <input type='hidden' name='hamo_record_id' value="{{ data.hamo_record.id }}"/>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Cycle Stage</th>
            <th scope="col">Parameters</th>
            <th scope="col">Criteria Met</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Final WFI Rinse</th>
            <td>
                Tank Temperature: Greater than 60&#8451;<br>
                Conductivity: 0.0 - 3.0&#181;S/cm
            </td>
            <td>
              <div class="custom-control custom-radio">
                <input type="radio" value="Yes" id="finalRinseYes" name="final_rinse_passed" class="custom-control-input" required>
                <label class="custom-control-label" for="finalRinseYes">Yes</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" value="No" id="finalRinseNo" name="final_rinse_passed" class="custom-control-input" required>
                <label class="custom-control-label" for="finalRinseNo">No</label>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">Drying</th>
            <td>
                Air Temperature: 100&#8451; - 130&#8451;<br>
                Duration: Greater than or equal to 13 mins
            </td>
            <td>
                <div class="custom-control custom-radio">
                    <input type="radio" value="Yes" id="dryingStageYes" name="drying_stage_passed" class="custom-control-input" required>
                    <label class="custom-control-label" for="dryingStageYes">Yes</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" value="No" id="dryingStageNo" name="drying_stage_passed" class="custom-control-input" required>
                    <label class="custom-control-label" for="dryingStageNo">No</label>
                </div>
            </td>
          </tr>
      </tbody>
    </table>
    <textarea class="form-control" id="exampleFormControlTextarea1" name="comments" rows="5" style="padding: 10px;" placeholder="Add cycle comments here"></textarea>
    
    <div style="text-align: center; padding: 30px;">
      <button type="submit" class="btn btn-primary" >Submit</button>
    </div>
  </form>
    
</div>