<div class="container">
    <h6 style="text-align: right; padding: 10px;"> Date added: {{ data.hamo_record.date_added }}</h6>
    <h4 style="text-align: center; padding: 20px;">Stage Three: Cycle Analysis</h4>
    <form method='POST' action='/save-hamo-stage-three-rinse-wash'>
        <input type='hidden' name='hamo_record_id' value="{{ data.hamo_record.id }}"/>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Cycle Stage</th>
            <th scope="col">Parameters</th>
            <th scope="col">Criteria Met</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Final WFI Rinse</th>
            <td>
                Tank Temperature: Greater than 60&#8451;<br>
                Conductivity: 0.0 - 3.0&#181;S/cm
            </td>
            <td>
              <div class="custom-control custom-radio">
                <input type="radio" value="Yes" id="finalRinseYes" name="final_rinse_passed" class="custom-control-input" required>
                <label class="custom-control-label" for="finalRinseYes">Yes</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" value="No" id="finalRinseNo" name="final_rinse_passed" class="custom-control-input" required>
                <label class="custom-control-label" for="finalRinseNo">No</label>
               </div>
            </td>
          </tr>
          <tr>
            <th scope="row">Drying</th>
            <td>
                Air Temperature: 100&#8451; - 130&#8451;<br>
                Duration: Greater than or equal to 13 mins
            </td>
            <td>
                <div class="custom-control custom-radio">
                    <input type="radio" value="Yes" id="dryingStageYes" name="drying_stage_passed" class="custom-control-input" required>
                    <label class="custom-control-label" for="dryingStageYes">Yes</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" value="No" id="dryingStageNo" name="drying_stage_passed" class="custom-control-input" required>
                    <label class="custom-control-label" for="dryingStageNo">No</label>
                </div>
            </td>
          </tr>
      </tbody>
    </table>
    <textarea class="form-control" id="exampleFormControlTextarea1" name="comments" rows="5" style="padding: 10px;" placeholder="Add cycle comments here"></textarea>
    
    <div style="text-align: center; padding: 30px;">
      <button type="submit" class="btn btn-primary" >Submit</button>
    </div>
    </form>
    
</div>